.sign_wrap {
  background-color: white;
  padding: 20px;
  color: rgb(43, 42, 42);
}

.radial_wrap {
  color: black;
  display: flex;
  justify-content: space-around;
  font-size: 27px;
  margin-bottom: 14px;
}
form { position: relative; }

.pass_toggle {
  position: absolute;
  top: 140px;
  right: 12px;
  color: gray;
  cursor: pointer;
  font-size: 28px;
}

.btn_wrapper { text-align: center; }

.main {
  background: #198754;
  border: 1px solid #198754;
  font-size: 30px;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 98%;
  margin-top: 10px;
  cursor: pointer;
}