.payment_wrap {
  max-width: 600px;
  box-shadow: 3px 8px 14px rgba(33, 33, 33, 0.6);
  overflow: hidden;
  padding: 20px 18px;
}

.btn_return {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
  cursor: pointer;
  margin: 50px auto 0;
}