.checkout_wrap {
  position: relative;
  background-color: white;
  color: black;
  box-shadow: 3px 8px 14px rgba(33, 33, 33, 0.6);
  padding: 0 8px;
  margin: auto;
}

.checkout_wrap h5 {
  font-size: 16px;
  float: left;
  padding-left: 8px;
  margin-top: 0;
  padding-top: 3px;
}
.checkout_wrap p { font-size: 18px; }
.checkout_wrap hr { width: 95%;}

.item_sum_wrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item_sum_wrap p { font-size: 16px; }
.shipping_sum_wrap h5 { float: left; margin-bottom: 0; }
.shipping_sum_wrap p { font-size: 12px; }
.total_wrap p { font-size: 12px;}

.pair_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
p.total { font-size: 14px; font-weight: 500;}
p.b_total { font-weight: 800; margin: 0 15px; }
p.p_total { 
  color: #cc2c53; 
  font-size: 18px;
}

.btn_return {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
  cursor: pointer;
  margin: 35px 22px 0;
}

.hr_bottom { margin-bottom: 18px; }

.pay_confirm_span {
  font-size: 16px;
  color: rgb(80, 80, 80);
  padding: 10px auto;
  line-height: 0.5;
  margin-bottom: 20px;
}